@model Lumen.Backoffice.ViewModels.UsersPageViewModel
@{
    ViewData["Title"] = "Users";
    ViewData["Subtitle"] = "Identities and their profile memberships";
    Layout = "_Layout";
}

<div class="content-wrap">
    <div class="mng mng-users">
        @await Component.InvokeAsync("UserList", new { users = Model.Users, selectedId = Model.Selected?.Id })
        @await Component.InvokeAsync("UserDetail", new { detail = Model.Selected })
    </div>
</div>
